.Search-field {
  padding: 10px 20px;
  min-width: 300px;
}

.Search-field:focus {
  outline: none;
}

.Suggestion-list {
  margin-top: 0;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  list-style-type: none;
  min-width: 325px;
}

.Suggestion-list li {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.Suggestion-list li:hover {
  background-color: #ccc;
}
